/*Base styles*/
html {
    width:100%;
}
html, body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
ul {
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
p, a, input, button {
    font-family: 'Futura Book';
    margin: 0;
    line-height: 1.5;
    font-size: 14px;
}
h1,h2,h3 {
    font-family: 'Futura Heavy';
}
h2 {
    font-size: 24px;
    margin-bottom: 70px;
    max-width: 400px;
    letter-spacing: 1.1px;
    background: -webkit-linear-gradient(#5f37ff, #434cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3 {
    letter-spacing: 1px;
    font-size: 24px;
    color:#fff;
    text-align: center;
    margin-top:50px;
    margin-bottom: 40px;
}
@font-face {
    font-family: 'Futura Book';
    src: url('./assets/fonts/futura-book-webfont.woff2')
}
@font-face {
    font-family: 'Futura Heavy';
    src: url('./assets/fonts/futura-heavy-webfont.woff2')
}
/*Layout styles*/
.container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    margin:0;
}
.nav {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 50px;
}
.hero {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin-bottom: 50px;
}
.features {
    height: 80vh;
    background-color: #fff;
    margin-bottom: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.interface {
    width: 90%;
    height: 40vh;
    margin-bottom: 100px;
}
.products {
    margin-top: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.contact {
    background: linear-gradient(203.67deg, #AB00FF -21.91%, #007BFF 133.89%);
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    z-index: 3;
}
/*Block styles*/
.nav__logo-wrapper {
    max-width: 175px;
}
.nav__logo {
    width:100%;
}
.nav__menu-list-wrapper {
    display: none;
}
.nav__hamburger-wrapper {
    margin-left: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
.nav__hamburger-icon {
    display: block;
    width: 50px;
    height: 4px;
    border-radius: 50px;
    background: #8B18FF;
}
.nav__hamburger-icon:nth-child(2) {
    width: 35px;
    margin-top: -5px;
}
.hero__summary {
    margin: 100px 0px 70px 0px;
    max-width: 210px;
    letter-spacing: 1.1px;
}
.hero__backdrop {
    top: 250px;
    width: 100%;
    position: absolute;
    height: 100vh;
    object-fit: contain;
    background-size: cover;
    background-position: center center
}
.hero__backdrop-img {
    width: 100%;
}
.hero__bg-cards {
    top: 300px;
    width: 100%;
    position: absolute;
    height: 90vh;
    object-fit: contain;
    background-size: cover;
    background-position: center center
}
.hero__bg-cards-img {
    width: 100%;
}
.hero__card-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.hero__card {
    z-index: 100;
    width: 100%;
    max-width: 800px;
    background-color: white;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
}
.hero__card-img {
    width: 100%;
}
.features__header {
    text-align: center;
}
.features__card-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.features__card {
    display: flex;
    font-weight: 500;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    margin: 0px 5px 30px 5px;
    max-width: 380px;
}
.features__card-description {
    padding-right: 30px;
    word-wrap: break-word;
    padding: 30px 10px 20px 20px;
    max-width: 220px;
    min-width: 200px;
}
.features__card-img {
    max-width: 18px;
    margin: 20px 10px 20px 100px;
}
.interface__dashboard-img {
    border-radius: 15px;
    width:100%;
    border-radius: 5px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25);
}
.interface__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.products__header {
    letter-spacing: 1px;
    max-width: 300px;
    margin-top: 60px;
}
.products__logo-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow:row wrap;
}
.products__logo-icon {
    margin: 20px;
    width: 30%;
}
.products__logo-icon:nth-child(even) {
    margin-right: 20px;
}
.contact__bg {
    z-index: -1;
    width: 100%;
    position: absolute;
    height: 75%;
    opacity: .2;
}
.contact__form {
    display: flex;
    width: 80%;
    justify-content: center;
}
input {
    outline: 0;
    font-family: 'Futura Heavy';
    width: 200px;
    background-color:#a681ff;
    border: none;
    border-radius: 34.5px;
    padding: 5px;
    padding-left: 15px;
    color: #ffffff;
}
input::placeholder{
    color: #d2c1ff;
}
.contact__form-btn {
    color:#6235ff;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Futura Heavy';
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    border: none;
    background-color: white;
    margin-left: 15px;
}
.contact__menu {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
    text-align: right;
    padding-top: 200px;
}
.contact__menu-item {
    letter-spacing: 1.1px;
    font-size: 10px;
    color: white;
    font-family: 'Futura Heavy';
    margin-bottom: 15px;
    text-transform: uppercase;
}
/*Desktop styles*/
@media only screen and (min-width: 767px) {
    .nav__hamburger-wrapper{
        display: none;
    }
    .nav__menu-list-wrapper {
        white-space: nowrap;
        display: flex;  
        list-style: none;
        justify-content: flex-end;
    }
    .nav {
        width: 80%;
    }
    .nav__menu-list {
        text-transform: uppercase;
        margin-top: 10px;
        display: flex;
    }
    .nav__menu-list-item {
        color: black;
        font-family: 'Futura Heavy';
        margin-right: 20px;
        padding: 5px 10px 5px 10px;
    }
    .nav__menu-list-item-btn {
        background: linear-gradient(196.2deg, #AB00FF -34.29%, #007BFF 136.11%);
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.24);
        border-radius: 100px;
        font-family: 'Futura Heavy';
        color: white;
        padding: 10px 20px 10px 20px;
        margin-top:-5px;
    }
    .hero__summary {
        z-index: 3;
        margin-top: 200px;
        max-width: 600px;
        font-size: 48px;
        letter-spacing: 1px;
    }
    .hero {
        width: 80%;
        height:60vh;
    }
    .features {
        min-width: 90%;
        height: 80vh;
        
    }
    .features__header {
        margin-top: 200px;
        max-width: 600px;
        font-size: 48px;
        letter-spacing: 1px;
    }
    .features__card-wrapper {
        display: flex;
        flex-flow: row nowrap;
        width: 80%;
        justify-content: center;
        margin: 0px 10px 0px 10px;
   
    }
    .features__card {
        min-width: 220px;
        max-width: 600px;
        margin:0px 0px 10px 0px;
       
    }
    .features__card:nth-child(2) {
        margin: 0px 30px 10px 30px;
    }
    .features__card-img {
        margin: 20px 40px 25px 0px;
        max-height: 55px;
        max-width: 20px;
        min-width: 16px;
    }
    .features__card-description {
        padding: 30px 0px 20px 15px;
        min-width: 200px;
        max-width: 225px;
    }
    .interface__wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        border-radius: 50px;
    }
    .interface {
        height: 80vh;
        max-width: 900px;
        background-color: transparent;
        border-radius: 50px;
        width: 90%;
        margin-bottom: 50px;
    }
    .interface__dashboard-img {
        width: 100%;
        border-radius: 15px;
    }
    .products__header {
        margin-right: -120px;
        font-size: 48px;
        letter-spacing: 1px;
        max-width: 600px;
    }
    .products__logo-icon {
        margin: 50px;
        width: 20%;
    }
    .products__logo-icon:nth-child(4) {
        order: 2;
    }
    .products__logo-icon:nth-child(3) {
        order: 1;
    }
    .products__logo-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        max-width: 50%;
        margin-right: 30px;
    }
    .contact {
        background: linear-gradient(203.67deg, #AB00FF -21.91%, #007BFF 133.89%);
        margin-top: 40px;
        height: 90vh;
        display: flex;
        flex-flow: column wrap;
    }
    h3 {
        margin-top: 100px;
        font-size: 48px;
        letter-spacing: 1px;
        text-align: center;
    }
    .form {
        width: 100%
    }
    input {
        width: 300px;
    }
    .contact__menu-item {
        font-size: 14px;
        margin-bottom: 10px;
        
    }
    
}